# Node / dépendances
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environnements (garde un .env.example)
.env

# Tests / couverture
coverage/

# Builds éventuels
dist/
build/
out/

# Éditeurs / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

package-lock.json
